name: GRC Governance CI

on:
  pull_request:
  push:
    branches: [ "master" ]

jobs:
  governance-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Conftest (OPA)
        run: |
          wget https://github.com/open-policy-agent/conftest/releases/download/v0.46.0/conftest_0.46.0_Linux_x86_64.tar.gz
          tar xzf conftest_0.46.0_Linux_x86_64.tar.gz
          sudo mv conftest /usr/local/bin/

      - name: Run Governance Policy Checks
        run: |
          echo "Running OPA/Conftest checks..."
          conftest test policies/ --output json > evidence/policy_results/conftest.json

      - name: Upload Evidence Artifact
        uses: actions/upload-artifact@v3
        with:
          name: policy-evidence
          path: evidence/policy_results/conftest.json

      - name: Report Success
        run: echo "Governance checks passed. All controls satisfied."
